@{
    ViewData["Title"] = "Информация";
}


    
  @section info{

    <p>Стол</p>
    <p>Собака</p>
    <p>Дом</p>

}  
    
 

@section name{
    <p> HEY this is name section</p>
}


@section key{
    <p> KEV</p>
}