@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="col-md-4 col-lg-4">
        Главная
    </div>
    <div class="col-md-4 col-lg-4">
        Практическая работа №8
    </div>
    <div class="col-md-4 col-lg-4">
        Представления в ASP.NET Core
    </div>
</div>


@section key{
    <p> KEV</p>
}